p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* MS customisations */

.chapter-nav .prev, .chapter-nav .next {
  padding: 0.5rem;
  border: 0px solid #fff;
  background: #eee;
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0);
}

.rmdnote, .rmdcaution, .rmdimportant, .rmdtip, .rmdwarning, .rmdquestion, .rmddanger {
  border-radius: 1rem;
}

.rmdnote {
  background: color-mix(in srgb, #096B72 10%, transparent);
}
.rmdimportant {
  background: color-mix(in srgb, var(--success) 10%, transparent);
}
.rmdcaution {
  background: color-mix(in srgb, var(--danger) 10%, transparent);
}
.rmdwarning {
  background: color-mix(in srgb, var(--warning) 10%, transparent);
}
.rmdtip {
  background: color-mix(in srgb, var(--success) 10%, transparent);
  border-color:var(--success);
}

.rmdquestion {
  margin: 1rem calc(-2px - 0.5em);
  padding: 1rem;
  border: 2px solid var(--info);
  background: color-mix(in srgb, var(--info) 10%, transparent);
}

.rmddanger {
  margin: 1rem calc(-2px - 0.5em);
  padding: 1rem;
  border: 2px solid var(--danger);
  background: color-mix(in srgb, var(--danger) 10%, transparent);
}

.rmdnote b, .rmdnote strong {
  color: #096B72;
}

.rmdimportant b, .rmdimportant strong {
  color: var(--success);
}

.rmdcaution b, .rmdcaution strong {
  color: var(--danger);
}

.rmddanger b, .rmddanger strong {
  color: var(--danger);
}

.rmdwarning b, .rmdwarning strong {
  color: #ff8107;
}

.rmdtip b, .rmdtip strong {
  color: var(--success);
}

.rmdquestion b, .rmdquestion strong {
  color: var(--info);
}

.rmddanger > :last-child, .rmdquestion > :last-child {
  margin-bottom: 0;
}

#book-edit {
  display: none;
}